* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ################## HTML Element Classes ################## */
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

ul li {
  list-style-type: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.orange-line {
  border: 1px solid #ec5242;
  width: 6rem;
  margin: auto;
  margin-bottom: 4rem;
}

.gray-line {
  border: 1px solid #d3d3d3;
  width: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gray-line-lg {
  border: 1px solid #d3d3d3;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}

/* ################  Section Header ################ */
.header {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header .navbar {
    min-height: 8vh;
    display: flex;
    align-items: center;
  }
  .header .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .navbar .container h1 a {
    color: #ec5242;
    font-size: 1.6rem;
  }
  .header .navbar .container .nav-items {
    display: flex;
    gap: 6em;
  }
  .header .navbar .container .nav-items li a {
    color: #272a31;
  }
  .header .top-bar {
    background: #272a31;
    min-height: 5vh;
    display: flex;
    align-items: center;
  }
  .header .top-bar .container ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
  }
  .header .top-bar .container ul li {
    margin-bottom: 0;
  }
  .header .top-bar .container ul li a {
    color: #fff;
  }
}

/* ################  Section Mobile Menu ################ */
.mobile-menu {
  display: none;
  transform: translate(-100%);
}
.mobile-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ec5242;
  width: 80%;
  height: 100vh;
  opacity: 0.9;
  transform: translateX(0);
  transition: all 3s ease-in-out;
}
.mobile-menu.active .mobile-menu-items {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-left: 8em;
  padding-top: 8em;
}
.mobile-menu.active .mobile-menu-items a {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
}

/* ################  Section Headline ################ */
.headline {
  height: 95vh;
  background: url(../assets/images/main_big.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.headline .hamburger {
  display: block;
  padding-left: 3em;
  padding-top: 3em;
  cursor: pointer;
}
.headline .hamburger .bar {
  display: block;
  width: 50px;
  height: 8px;
  background-color: #272a31;
  margin-bottom: 0.5em;
  transition: all 0.5s ease-in-out;
}
.headline .hamburger.active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.headline .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.headline .hamburger.active .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .headline .hamburger {
    display: none;
  }
}
.headline .hello-coding {
  color: #ec5242;
  font-size: 3rem;
  font-weight: 300;
  padding-top: 3em;
  display: block;
}
.headline h1 {
  font-size: 4rem;
  color: #ec5242;
  font-weight: 700;
}
.headline .headline-desc {
  background-color: #f7f7f7;
  color: #595959;
  border: 2px solid #fff;
  border-radius: 1em;
  padding: 1.2em;
}
.headline .about-desc {
  background-color: #fff;
  color: #595959;
  border: 2px solid #f7f7f7;
  padding: 1.2em;
  text-align: center;
  font-size: 1.6rem;
  margin: 2em auto;
  line-height: 2rem;
}
.headline .contact-box {
  text-align: center;
  margin-top: 5em;
  font-size: 1.6rem;
  line-height: 2rem;
}
.headline h2 {
  color: #595959;
  font-size: 3.5rem;
  font-weight: 500;
}
.headline p {
  color: #595959;
  font-size: 1.6rem;
}

/* ################  Section Main Program ################ */
.main-program {
  background: linear-gradient(rgba(39, 42, 49, 0.98), rgba(39, 42, 49, 0.98)), url(../assets/images/pattern_bg.png);
  background-position: center;
  padding-bottom: 3em;
}
.main-program .container {
  margin: 0 auto;
}
.main-program h2 {
  color: #fff;
  text-align: center;
  padding-top: 2em;
  font-size: 2.4rem;
  font-weight: 400;
}
.main-program .program-boxes {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main-program .program-box {
  background: rgba(89, 89, 89, 0.5);
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 3em;
}
.main-program img {
  align-self: center;
}
.main-program h3 {
  color: #ec5242;
  font-size: 2rem;
  font-weight: normal;
  align-self: center;
}
.main-program p {
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
}
.main-program .button-box {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .main-program .program-boxes {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  .main-program .program-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .main-program .program-box p {
    text-align: center;
  }
}
.main-program .btn-join {
  background: #ec5242;
  color: white;
  border: none;
  margin: 3em auto;
  padding: 2em 3em;
  font-size: 2rem;
  font-weight: 600;
}

/* ################  Section About Logo ################ */
.about-logo {
  padding-top: 5em;
  padding-bottom: 5em;
}
.about-logo .about-logo-heading {
  text-align: center;
  font-size: 2rem;
  color: #272a31;
}
.about-logo p {
  text-align: center;
  margin-bottom: 2em;
}

/* ################  Section Past Summit ################ */
.past-summit h2 {
  text-align: center;
  font-size: 2rem;
}
.past-summit p {
  text-align: center;
  font-size: 1.6rem;
}
.past-summit .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 3em 3em 5em 3em;
}
.past-summit .past-summit-img-boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3em;
  margin-top: 4em;
  margin-bottom: 4em;
}
.past-summit .past-summit-img-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.past-summit .past-summit-img-box img {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .past-summit .past-summit-img-boxes {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/* ################  Section Featured Speakers ################ */
.speaker h2 {
  color: #272a31;
  text-align: center;
  padding-top: 2em;
  font-size: 2.4rem;
  font-weight: 400;
}
.speaker .speaker-boxes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.speaker .speaker-boxes .speaker-box {
  display: flex;
  gap: 3rem;
  padding: 1em;
}
.speaker .speaker-boxes .speaker-box .text-box {
  font-family: "Lato", sans-serif;
}
.speaker .speaker-boxes .speaker-box .text-box h3 {
  color: #272a31;
  font-size: 2rem;
}
.speaker .speaker-boxes .speaker-box .text-box p {
  color: #272a31;
}
@media screen and (min-width: 768px) {
  .speaker .speaker-boxes {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 5em;
  }
}
.speaker .button-box {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 3em;
}
.speaker .button-box .btn-more {
  width: 100%;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2rem;
  border: 1px solid #d3d3d3;
}
@media screen and (min-width: 768px) {
  .speaker .button-box {
    display: none;
  }
}

/* ################  Section Partner ################ */
.partner {
  background: #272a31;
  padding-bottom: 4em;
}
.partner h2 {
  color: #fff;
  text-align: center;
  padding-top: 2em;
  font-size: 2.4rem;
  font-weight: 400;
}
.partner .partner-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  color: #d3d3d3;
  font-weight: normal;
  font-size: 3rem;
}

/* ################  Section Footer ################ */
.footer {
  padding-top: 4em;
  padding-bottom: 4em;
}
.footer .footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  color: #272a31;
  padding: 2em;
}
.footer .footer-box > * {
  flex: 1 1 0;
}
.footer .footer-box .left {
  color: #272a31;
  font-size: 2rem;
}
.footer .footer-box .right {
  color: #595959;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer .footer-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4em;
  }
  .footer .footer-box .left {
    display: flex;
    justify-content: end;
  }
}

/*# sourceMappingURL=main.css.map */
