@import 'variables';

@mixin desktop-media-query {
  @media screen and (min-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ################## HTML Element Classes ################## */
html {
  font-size: 62.5%;
}

body {
  font-family: $lato-font;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.orange-line {
  border: 1px solid $orange-color;
  width: 6rem;
  margin: auto;
  margin-bottom: 4rem;
}

.gray-line {
  border: 1px solid $gray-color;
  width: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}

/* ################  Section Headline ################ */
.header {
  display: none;

  @include desktop-media-query {
    display: flex;
    flex-direction: column;

    .top-bar {
      background: $black-color;
      min-height: 5vh;
      display: flex;
      align-items: center;
      
      .container {
        ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2em;
          
          li {
            margin-bottom: 0em;
            a {
              color: #fff;
            }
          }
        }
      }
    }

    .navbar {
      min-height: 8vh;
      display: flex;
      align-items: center;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          a {
            color: $orange-color;
            font-size: 1.6rem;
          }
        }

        .nav-items {
          display: flex;
          gap: 6em;

          li{
            a{
              color: $black-color;
            }
          }
        }
      }
    }
  }
}

/* ################  Section Headline ################ */

.headline {
  height: 95vh;
  background: url(../assets/images/main_big.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hamburger {
    display: block;
    padding-left: 3em;
    padding-top: 3em;

    .bar {
      display: block;
      width: 50px;
      height: 8px;
      background-color: $black-color;
      margin-bottom: 0.5em;
    }

    @include desktop-media-query {
      display: none;
    }
  }

  .hello-coding {
    color: $orange-color;
    font-size: 3rem;
    font-weight: 300;
    padding-top: 3em;
    display: block;
  }

  h1 {
    font-size: 4rem;
    color: $orange-color;
    font-weight: 700;
  }

  .headline-desc {
    background-color: $light-gray-color;
    color: $dark-gray-color;
    border: 2px solid #fff;
    border-radius: 1em;
    padding: 1.2em;
  }

  .about-desc {
    background-color: #fff;
    color: $dark-gray-color;
    border: 2px solid $light-gray-color;
    padding: 1.2em;
    text-align: center;
    font-size: 1.6rem;
    margin: 2em auto;
    line-height: 2rem;
  }

  .contact-box {
    text-align: center;
    margin-top: 5em;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  h2 {
    color: $dark-gray-color;
    font-size: 3.5rem;
    font-weight: 500;
  }

  p {
    color: $dark-gray-color;
    font-size: 1.6rem;
  }
}

/* ################  Section Main Program ################ */

.main-program {
  background: linear-gradient(rgba(39, 42, 49, 0.98), rgba(39, 42, 49, 0.98)),
    url(../assets/images/pattern_bg.png);
  background-position: center;
  padding-bottom: 3em;

  .container {
    margin: 0 auto;
  }

  h2 {
    color: #fff;
    text-align: center;
    padding-top: 2em;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .program-boxes {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .program-box {
    background: rgba(89, 89, 89, 0.5);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 3em;
  }

  img {
    align-self: center;
  }

  h3 {
    color: $orange-color;
    font-size: 2rem;
    font-weight: normal;
    align-self: center;
  }

  p {
    color: #fff;
    font-weight: normal;
    font-size: 1.6rem;
  }

  .button-box {
    display: flex;
    justify-content: center;
  }

  @include desktop-media-query {
    .program-boxes {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
    }

    .program-box {
      display: flex;
      flex-direction: column;
      gap: 1em;

      p {
        text-align: center;
      }
    }
  }

  .btn-join {
    background: $orange-color;
    color: white;
    border: none;
    margin: 3em auto;
    padding: 2em 3em;
    font-size: 2rem;
    font-weight: 600;
  }
}

/* ################  Section About Logo ################ */
.about-logo {
  padding-top: 5em;
  padding-bottom: 5em;

  .about-logo-heading {
    text-align: center;
    font-size: 2rem;
    color: $black-color;
  }

  p {
    text-align: center;
    margin-bottom: 2em;
  }
}

/* ################  Section Past Summit ################ */
.past-summit {
  h2 {
    text-align: center;
    font-size: 2rem;
  }

  p {
    text-align: center;
    font-size: 1.6rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding: 3em 3em 5em 3em;
  }
}

/* ################  Section Featured Speakers ################ */
.speaker {
  h2 {
    color: $black-color;
    text-align: center;
    padding-top: 2em;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .speaker-boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .speaker-box {
      display: flex;
      gap: 3rem;
      padding: 1em;

      .text-box {
        font-family: $lato-font;

        h3 {
          color: $black-color;
          font-size: 2rem;
        }

        p {
          color: $black-color;
        }
      }
    }

    @include desktop-media-query {
      display: grid;
      grid-template-columns: auto auto;
      padding-bottom: 5em;
    }
  }

  .button-box {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 3em;

    .btn-more {
      width: 100%;
      background-color: #fff;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 2rem;
      border: 1px solid $gray-color;
    }

    @include desktop-media-query {
      display: none;
    }
  }
}

/* ################  Section Partner ################ */
.partner {
  background: $black-color;
  padding-bottom: 4em;

  h2 {
    color: #fff;
    text-align: center;
    padding-top: 2em;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .partner-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    color: $gray-color;
    font-weight: normal;
    font-size: 3rem;
  }
}

/* ################  Section Footer ################ */
.footer {
  padding-top: 4em;
  padding-bottom: 4em;

  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    color: $black-color;
    padding: 2em;

    > * {
      flex: 1 1 0;
    }

    .left {
      color: $black-color;
      font-size: 2rem;
    }

    .right {
      color: $dark-gray-color;
      font-size: 1.5rem;
    }
  }
  
  @include desktop-media-query {
    .footer-box {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 4em;

      .left {
        display: flex;
        justify-content: end;
      }
    }
  }
}
