@import 'variables';

@mixin desktop-media-query {
  @media screen and (min-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ################## HTML Element Classes ################## */
html {
  font-size: 62.5%;
}

body {
  font-family: $lato-font;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.orange-line {
  border: 1px solid $orange-color;
  width: 6rem;
  margin: auto;
  margin-bottom: 4rem;
}

.gray-line {
  border: 1px solid $gray-color;
  width: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gray-line-lg {
  border: 1px solid $gray-color;
  // width: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}

.btn:hover {
  cursor: pointer;
}

/* ################  Section Top Bar ################ */
.top-bar {
  display: none;
  
  @include desktop-media-query {
    background: $black-color;
    min-height: 5vh;
    display: flex;
    align-items: center;

      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2em;          
      }
      li {
        margin-bottom: 0;
      }
      a {
        color: #fff;

        &:hover {
          color: $orange-color;
        }
      }
  }
  
}
/* ################  Section Header ################ */
.header {
  display: none;

  @include desktop-media-query {
    display: flex;
    flex-direction: column;

    .navbar {
      min-height: 8vh;
      display: flex;
      align-items: center;
      box-shadow: 0 3px 10px 0 rgba($color: #000000, $alpha: 0.3);

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          a {
            color: $orange-color;
            font-size: 1.6rem;
          }
        }

        .nav-items {
          display: flex;
          align-items: center;
          gap: 6em;

          li {
            a {
              color: $black-color;
              transition: all 0.5s ease-in-out;

              &:hover {
                color: $orange-color;
                transform: scale(1.5);
              }

              &::after {
                display: block;
                content: '';
                border-bottom: 2px solid $orange-color;
                transform: scaleX(0);
                transition: all 0.5s ease-in-out;
              }

              &:hover::after {
                transform: scaleX(1);
              }
            }
            &:last-child {
              border: 3px solid $orange-color;
              padding: 0.1em 0.3em;
            }
          }
        }
      }
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #fff;
    }

  }
}

/* ################  Section Mobile Menu ################ */
.mobile-menu {
  display: none;
  // transform: translate(-100%);
  transition: all 3s ease-in-out;

  &.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $orange-color;
  width: 80%;
  height: 100vh;
  opacity: 0.9;
  transform: translateX(0);

  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-left: 8em;
    padding-top: 8em;

    a {
      color: #fff;
      font-size: 3rem;
      font-weight: 600;
      cursor: pointer;
    }

  }
  
  // .navbar {
  //   display: none;
  //   .container {
  //     .nav-items.active {
  //       display: flex;
  //       flex-direction: column;
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       width: 80%;
  //       height: 100vh;
  //     }
  //   }
  // }
}

}

/* ################  Section Headline ################ */

.headline {
  height: 95vh;
  background: url(../assets/images/main_big.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hamburger {
    display: block;
    padding-left: 3em;
    padding-top: 3em;
    cursor: pointer;

    .bar {
      display: block;
      width: 50px;
      height: 8px;
      background-color: $black-color;
      margin-bottom: 0.5em;
      transition: all 0.5s ease-in-out;
    }

    &.active {
      .bar {
        &:nth-child(1) {
          transform: translateY(12px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-12px) rotate(-45deg);
        }
      }
    }

    @include desktop-media-query {
      display: none;
    }
  }

  .hello-coding {
    color: $orange-color;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 1em;
    display: block;
    letter-spacing: 0.1rem;

    @include desktop-media-query {
      padding-top: 2em;
    }
  }

  h1 {
    font-family: $cocogoose-font;
    font-size: 5rem;
    color: $orange-color;
    font-weight: 800;
    background-image: linear-gradient(70deg, #ec5242, #595959, #272a31);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 0em;

    @include desktop-media-query {
      font-size: 7rem;
    }
  }

  .headline-desc {
    background-color: $light-gray-color;
    color: $dark-gray-color;
    border: 2px solid #fff;
    border-radius: 1em;
    padding: 1.2em;
    max-width: 700px;
    font-weight: 600;
  }

  .about-desc {
    background-color: #fff;
    color: $dark-gray-color;
    border: 2px solid $light-gray-color;
    padding: 1.2em;
    text-align: center;
    font-size: 1.6rem;
    margin: 2em auto;
    line-height: 2rem;
  }

  .contact-box {
    text-align: center;
    margin-top: 5em;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  h2 {
    color: $dark-gray-color;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: $cocogoose-font;
  }

  p {
    color: $dark-gray-color;
    font-size: 1.6rem;
  }
}

/* ################  Section Main Program ################ */

.main-program {
  background:
   linear-gradient(rgba(39, 42, 49, 0.98), rgba(39, 42, 49, 0.98)),
    url(../assets/images/pattern_bg.png);
  background-position: center;
  padding-bottom: 3em;

  .container {
    margin: 0 auto;
  }

  h2 {
    color: #fff;
    text-align: center;
    padding-top: 2em;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .program-boxes {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .program-box {
    background: rgba(89, 89, 89, 0.5);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 3em;

    &:hover {
      cursor: pointer;
      border: 2px solid #fff;
    }
  }

  img {
    align-self: center;
  }

  h3 {
    color: $orange-color;
    font-size: 2rem;
    font-weight: normal;
    align-self: center;
  }

  p {
    color: #fff;
    font-weight: normal;
    font-size: 1.6rem;
  }

  .button-box {
    display: flex;
    justify-content: center;
  }

  @include desktop-media-query {
    .program-boxes {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
    }

    .program-box {
      display: flex;
      flex-direction: column;
      gap: 1em;

      p {
        text-align: center;
      }
    }
  }

  .btn-join {
    background: $orange-color;
    color: white;
    border: none;
    margin: 3em auto;
    padding: 2em 3em;
    font-size: 2rem;
    font-weight: 600;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }

  .btn-join:hover span {
    padding-right: 25px;
  }
  
  .btn-join:hover span:after {
    opacity: 1;
    right: 0;
  }
}

/* ################  Section About Logo ################ */
.about-logo {
  padding-top: 5em;
  padding-bottom: 5em;

  .about-logo-heading {
    text-align: center;
    font-size: 2rem;
    color: $black-color;
  }

  p {
    text-align: center;
    margin-bottom: 2em;
  }
}

/* ################  Section Past Summit ################ */
.past-summit {
  h2 {
    text-align: center;
    font-size: 2rem;
  }

  p {
    text-align: center;
    font-size: 1.6rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 3em 3em 5em 3em;
  }

  .past-summit-img-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .past-summit-img-box {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      display: block;
      max-width: 100%;
    }
  }

  @include desktop-media-query {
    .past-summit-img-boxes {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
}

/* ################  Section Featured Speakers ################ */
.speaker {
  h2 {
    color: $black-color;
    text-align: center;
    padding-top: 2em;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .speaker-boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .speaker-box {
      display: flex;
      gap: 3rem;
      padding: 1em;

      .text-box {
        font-family: $lato-font;

        h3 {
          color: $black-color;
          font-size: 2rem;
        }

        p {
          color: $black-color;
        }
      }
    }

    #speaker3, #speaker4, #speaker5, #speaker6 {
      display: none;
    }

    @include desktop-media-query {
      display: grid;
      grid-template-columns: auto auto;
      padding-bottom: 5em;

      #speaker3, #speaker4, #speaker5, #speaker6 {
        display: flex;
      }
    }
  }

  .button-box {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 3em;

    .btn-more {
      width: 100%;
      background-color: #fff;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 2rem;
      border: 1px solid $gray-color;
    }

    @include desktop-media-query {
      display: none;
    }
  }
}

/* ################  Section Partner ################ */
.partner {
  background: $black-color;
  padding-bottom: 7em;

  h2 {
    color: #fff;
    text-align: center;
    padding-top: 2em;
    font-size: 2.4rem;
    font-weight: 400;
  }

  .partner-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding-top: 2em;
    color: $gray-color;
    font-weight: normal;
    font-size: 3rem;
  }
}

/* ################  Section Footer ################ */
.footer {
  padding-top: 4em;
  padding-bottom: 4em;

  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    color: $black-color;
    padding: 2em;

    > * {
      flex: 1 1 0;
    }

    .left {
      color: $black-color;
      font-size: 2rem;
    }

    .right {
      color: $dark-gray-color;
      font-size: 1.5rem;
    }
  }

  @include desktop-media-query {
    .footer-box {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 4em;

      .left {
        display: flex;
        justify-content: end;
      }
    }
  }
}
