// Colors
$black-color: #272a31;
$orange-color: #ec5242;
$gray-color: #d3d3d3;
$light-gray-color: #f7f7f7;
$dark-gray-color: #595959;

// Fonts
$cocogoose-font: 'COCOGOOSE', sans-serif;
$lato-font: 'Lato', sans-serif;
